.emergency-row-container {
  width: 100%;
}

.emergency-exits {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-exit {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid green;
}

.left-exit {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid green;
}

.emergency-title {
  margin: 0;
}

.emergency-separator {
  width: 60px;
  height: 1px;
  background: gray;
}

.hidden {
  border-color: transparent;
}
