.seat-button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
}

.seat-button:disabled {
  cursor: not-allowed;
}

.seat-container {
  position: relative;
}

.seat-information {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  position: absolute;
  gap: 0.2rem;
  width: fit-content;
  height: fit-content;
  padding: 0.5rem;
  z-index: 1;
  background-color: gray;
  border-radius: 5px;
  left: 45px;
  font-size: 14px;
}

.seat-information-element {
  display: flex;
  gap: 0.2rem;
}
